@import "../../variables";
.container {
  padding: 15% 5%;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1.5rem;
  }
  .grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .Testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #252528;
    padding: 2rem;
    color: white;
    border-radius: 10px;
    gap: 1rem;
    text-align: center;
    span {
      border-radius: 50%;
      min-width: 80px;
    }
    h6 {
      color: white;
      font-weight: 600;
    }
  }

  button {
    background-color: $accent-2;
    color: $primary;
    border-radius: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 5rem;
    min-height: 100vh;
    button {
      margin-top: 2.5rem;
    }
    .grid {
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    .Testimonial {
      flex-direction: row;
      text-align: left;
    }
  }
}
