@import "../../variables";

.container {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 25;

  video {
    height: 100%;
  }

  .controllers {
    z-index: 99;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 0.425rem;
    padding: 2.5%;
    i {
      color: white;
      font-size: 1.5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0));
}

@media screen and (min-width: 768px) {
  .container {
    padding: 1rem;

    video {
      border-radius: 15px;
    }

    i {
      top: 15px;
      right: 15px;
    }
  }
}
