@import "../../variables";

.container {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 25;

  video {
    height: 100%;
    width: 100%;
    transform: scale(130%) translateX(-10px);
  }

  .controllers {
    z-index: 12;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    right: 0;
    top: 0;
    display: flex;
    gap: 0.425rem;
    padding: 2.5%;
    i {
      z-index: 20;
      color: white;
      font-size: 1.5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0));
}

@media screen and (min-width: 768px) {
  .container {
    border-radius: 15px;
    overflow: hidden;

    video {
      transform: scale(101%) translateX(none);
    }

    i {
      top: 15px;
      right: 15px;
    }
  }
}
